{% extends 'base.html' %}
{% block title %}
    Accounts
{% endblock %}
{% block content %}
    <form action="/" class="inline">
        <button class="btn"><i class="fa fa-home"></i></button>
    </form>
    <button class="add-account" id="add-account">Add Account</button>
    <p>
        <b>Person<span class="right-side">Tickets</span></b>
    </p>
    <hr />

    {% for person in accounts %}
    <form action="{{ url_for('accounts.delete_account_route', name=person[0]) }}" method="post">
        <p class="inline list">{{ person[0] }}</p>
        <button class="clear"><i class="fa fa-trash"></i></button>
        <span class="right-side list">{{ person[1] }}</span>
    </form>
    {% endfor %}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Who would you like to add?</p>
            <form method="post" class="form" id="form">
                <input type="text" name="name" autocomplete="off"/>
                <button class="add" id="add">add</button>
            </form>
        </div>
    </div>

    <script src="/static/accounts.js"></script>
{% endblock %}
