{% extends 'base.html' %}
{% block title %}
    Adding
{% endblock %}
{% block content %}
    <form action="/" class="inline">
        <button class="btn"><i class="fa fa-home"></i></button>
    </form>
    <form method="post">
        <p class="looks">
            <span class="looks"
                >Worth:
                <span id="worth-num" name="worth-num">1</span>pt</span
            >
            <input
                type="radio"
                value="1"
                name="worth"
                id="worth"
                class="worth"
                checked
            />
            <input
                type="radio"
                value="2"
                name="worth"
                id="worth"
                class="worth"
            />
            <input
                type="radio"
                value="3"
                name="worth"
                id="worth"
                class="worth"
            />
            <input
                type="radio"
                value="4"
                name="worth"
                id="worth"
                class="worth"
            />
            <input
                type="radio"
                value="5"
                name="worth"
                id="worth"
                class="worth"
            />
        </p>
        <input type="text" name="name" id="name" class="block" />
        <button class="add">add</button>
    </form>
    {{ message }} {{ error }}

    <script src="/static/add.js"></script>
{% endblock %}
