{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Culture Fest Passports</h1>
    <h2>Day {{ day }}</h2>
    <form action="{{ url_for('accounts.accounts') }}" id="view">
        <button class="view-accounts" id="view-accounts">
            View Accounts
        </button>
    </form>
    <form action="{{ url_for('accounts.add') }}">
        <button class="add">Add points</button>
    </form>
    <form action="{{ url_for('home.raffle') }}">
        <button class="raffle">Raffle</button>
    </form>
{% endblock %}